.bonus {
  width: 100%;
  align-items: flex-start;
  border-radius: 25px;
  background: linear-gradient(90deg, rgb(45 179 255 / 36%) 0.36%, rgb(255 207 45 / 81%) 88.32%);
  box-shadow: 0 8px 24px rgb(129 135 189 / 25%);
}

.bonus_text {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 24px;
  text-align: left;
}

.bonus .bonus_text a {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 25px;
  background: #0c73fe;
  box-shadow: 0 4px 4px rgb(0 0 0 / 60%);
  color: white;
  text-align: center;
}

.bonus .bonus_text p {
  text-align: center;
}

.bonus .bonus_text h2 {
  text-align: center;
}

.bonus .bonus_text img {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .bonus .bonus_text p {
    display: none;
  }
}
