.card_style {
  padding: 30px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;
  border-radius: 40px;
  flex-flow: column;
  row-gap: 20px;
}

.description {
  margin: 0 auto;
  text-align: left;
  white-space: pre-wrap;
  font-size: 14px;
}

.url {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .card_style h3 {
    padding: 5px;
    text-align: center;
  }
  .card_style {
    flex-basis: calc((100% - 50px) / 2);
  }
}

@media screen and (min-width: 968px) {
  .card_style {
    flex-basis: calc((100% - 90px) / 2);
  }
  .card_style h3 {
    padding: 5px;
    text-align: center;
  }
}

@media (min-width: 1155px) {
  .card_style {
    flex-basis: calc((100% - 90px) / 4);
  }
  .description {
    padding-bottom: 15px;
  }
}
