.guarantees {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 48px;
  gap: 60px;
}

.bold_blue {
  color: #0c73fe;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .guarantees {
    flex-direction: row;
    align-items: stretch;
  }
}
