.bonus {
  display: flex;
}

.colored_background {
  --bg-color: rgb(102 36 131);

  background-color: var(--bg-color);
  box-shadow: 0 0 0 100vmax var(--bg-color);
  clip-path: inset(0 -100vmax);
  color: rgb(255 255 255);
}

.images_left {
  display: flex;
  width: auto;
  height: auto;
  margin: auto;
}

.images_right {
  display: flex;
  width: auto;
  height: auto;
  margin: auto;
}

.bonus_block {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.bonus_block h2 {
  padding-bottom: 10px;
  color: white;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
}

.bonus_block p {
  padding-bottom: 10px;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
}

@media (max-width: 768px) {
  .bonus {
    flex-direction: column;
  }

  .images_left {
    display: none;
  }

  .images_right {
    display: none;
  }

  .bonus_block h2 {
    font-size: 28px;
  }

  .bonus_block p {
    font-size: 14px;
  }
}
