.navbar {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.colored_background {
  --bg-color: rgb(255 255 255 / 100%);

  background-color: var(--bg-color);
  box-shadow: 0 0 0 100vmax var(--bg-color);
  clip-path: inset(0 -100vmax);
}

.desktop_logo {
  display: none;
}

.mobile_log {
  display: none;
}

.desktop_menu {
  display: none;
  font-size: 18px;
  gap: 24px;
}

.mobile_meu {
  display: none;
  font-size: 18px;
}

/* @media screen and (max-width: 1366px) {
} */

@media screen and (min-width: 1024px) {
  .desktop_logo {
    display: block;
  }

  .desktop_menu {
    display: block;
  }

  .mobile_logo {
    display: none;
  }

  .mobile_menu {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .navbar {
    height: 90px;
    margin-top: 6px;
  }

  .mobile_logo {
    display: block;
  }

  .mobile_menu {
    z-index: 20;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
}
