.navbar {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.colored_background {
  background-color: rgb(255 255 255 / 100%);
}

.desktop_logo {
  display: none;
}

.logo_image {
  width: auto;
  height: 64px;
}

.mobile_logo {
  display: none;
}

.image {
  position: relative !important;
  width: 100% !important;
  height: unset !important;
  object-fit: contain;
}

.desktop_menu {
  display: none;
  font-size: 18px;
  gap: 24px;
  list-style: none;
}

.mobile_menu {
  display: none;
  padding: 2rem 2rem 0;
  border: none;
  margin-right: -2rem;
  margin-bottom: 2rem;
  background: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-size: 18px;
  outline: inherit;
}

.analytics {
  display: none;
}

@media screen and (min-width: 1024px) {
  .desktop_logo {
    display: flex;
  }

  .desktop_menu {
    display: flex;
  }

  .mobile_logo {
    display: none;
  }

  .mobile_menu {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .navbar {
    height: 90px;
    margin-top: 6px;
  }

  .desktop_logo {
    display: flex;
  }

  .mobile_menu {
    z-index: 20;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .desktop_logo {
    display: none;
  }

  .mobile_logo {
    display: flex;
    width: 48px;
  }

  .mobile_menu {
    margin-right: -1rem;
  }
}

@media screenn and (max-width: 300px) {
  .mobile_menu {
    padding: 1.5rem 1.5rem 0;
  }
}
