.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 auto;
  max-width: 1240px;
}

.desktop-logo {
  display: none;
}

.mobile-log {
  display: none;
}

.desktop-menu {
  display: flex;
  gap: 24px;
  font-size: 24px;
  display: none;
}

.mobile-meu {
  display: none;
}

.sidebar-overlay {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 32px;
  padding: 80px 2rem 0px 2rem;
  background-color: rgba(255, 255, 255, 100);
  z-index: 5;
}

@media screen and (max-width: 1366px) {
  .navbar {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .desktop-logo {
    display: block;
  }

  .desktop-menu {
    display: block;
  }

  .mobile-logo {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .navbar {
    margin-top: 6px;
    height: 90px;
  }

  .mobile-logo {
    display: block;
  }

  .mobile-menu {
    display: block;
    z-index: 20;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
  }
}
