.text {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  padding-top: 48px;
  gap: 60px;
}

.bold-blue {
  font-weight: 600;
  color: #0c73fe;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(12, 115, 254, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  flex: 1;
  gap: 32px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    align-items: stretch;
  }
}
