.text {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 24px;
  text-align: left;
}

.about {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 48px;
  gap: 60px;
}

.card {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: rgb(12 115 254 / 25%);
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  gap: 32px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    align-items: stretch;
  }
}
