.work {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}

.image_container {
  flex: 1;
  flex-basis: 50%;
}

.image {
  position: relative !important;
  width: 100% !important;
  height: unset !important;
  object-fit: contain;
}

.blocks {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
}

.blocks h2 {
  padding-bottom: 50px;
  color: rgb(102 36 131);
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
}

.colored_background {
  --bg-color: rgb(255 242 137 / 100%);

  margin-bottom: -1px;
  background-color: var(--bg-color);
  box-shadow: 0 0 0 100vmax var(--bg-color);
  clip-path: inset(0 -100vmax);
  color: rgb(255 255 255);
}

@media screen and (max-width: 768px) {
  .work {
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 50px;
    gap: unset;
  }

  .image_container {
    display: none;
  }

  .blocks h2 {
    padding-bottom: 32px;
    font-size: 28px;
  }
}

@media screen and (max-width: 300px) {
  .work h2 {
    font-size: 24px;
  }
}
