.main {
  max-width: 1240px;
  margin: 0 auto;
}

@media screen and (max-width: 1366px) {
  .main {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0 1rem;
  }
}
