.footer {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 16px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1240px;
}

.link {
  color: #0b73fe;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1366px) {
  .navbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 769px) {
  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .footer_agreements {
    text-align: right;
    max-width: 380px;
  }

  .footer_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
  }

  .footer_agreements {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 16px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .footer_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
