.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 16px;
}

.link {
  color: #0b73fe;
}

.link:hover {
  text-decoration: underline;
}

/* @media screen and (max-width: 1366px) {
} */

@media screen and (min-width: 769px) {
  .footer_agreements {
    width: 50%;
    max-width: 380px;
    text-align: right;
  }

  .footer_text {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    gap: 16px;
  }

  .footer_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
