.list {
  position: relative;
  display: inline-block;
}

.inactive {
  cursor: unset;
  pointer-events: none;
}

.mobile {
  color: rgb(12 115 254 / 85%);
  font-weight: bold;
}

.mobile a:hover {
  font-weight: bold;
}

.line {
  pointer-events: none;
}

.line::before {
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  animation-duration: 0.4s;
  animation-name: line-grow;
  animation-timing-function: ease;
  background-image: linear-gradient(rgb(12 115 254 / 85%), rgb(12 115 254 / 85%)), linear-gradient(transparent, transparent);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 2px, auto;
  content: "";
  opacity: 1;
}

.list a::before {
  position: absolute;
  top: -4px;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(rgb(12 115 254 / 85%), rgb(12 115 254 / 85%)), linear-gradient(transparent, transparent);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 0% 2px, auto;
  content: "";
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

@keyframes line-grow {
  0% {
    background-size: 60% 2px, auto;
  }

  100% {
    background-size: 100% 2px, auto;
  }
}

@media (hover: hover) {
  .list a:hover::before {
    background-size: 60% 2px, auto;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  .list a:focus::before {
    background-size: 60% 2px, auto;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  .list a:hover {
    color: rgb(12 115 254 / 85%);
    transition: all 0.3s ease-in-out;
  }
}

@media (hover: hover) and screen and (max-width: 1024px) {
  .list a::before {
    position: absolute;
    top: calc(50% - 4px);
    right: 0;
    bottom: 0;
    left: unset;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: rgb(0 0 0 / 85%);
    content: "";
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }

  .list a:hover::before {
    right: -24px;
    bottom: unset;
    background: rgb(12 115 254 / 85%);
    opacity: 1;
  }
}
