html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, "Segoe UI", system-ui;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
}

input,
textarea,
button,
select {
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

/* Hide recaptcha badge */
/* stylelint-disable-next-line selector-class-pattern */
.grecaptcha-badge {
  visibility: hidden !important;
}

.no_select {
  -webkit-touch-callout: none; /* iOS Safari */
  user-select: none; /* Safari */
}

.image_no_pointer_events {
  pointer-events: none;
}

*:focus {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }

  body {
    background: white;
    color: black;
  }
}
