.card_style {
  padding: 50px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  max-inline-size: 1240px;
  margin-inline: auto;
  border-radius: 25px;
  flex-flow: column;
}
.card_style h3 {
  font-size: 16px;
}

.description {
  margin: 0 auto;
  font-size: 14px;
}

.url {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 15px;
}

@media screen and (min-width: 760px) {
  .card_style {
    flex-basis: calc((100% - 10px) / 2);
  }
}

@media screen and (max-width: 1154px) {
  .description {
    display: none;
  }
  .card_style {
    padding: 40px;
  }
}

@media (min-width: 1155px) {
  .card_style {
    flex-basis: calc((100% - 30px) / 4);
  }
}
