.button {
  position: relative;
  display: flex;
  min-width: 210px;
  height: 55px;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  border: none;
  border-radius: 50px;
  margin: 16px auto;
  appearance: auto;
  background-size: 300% 100%;
  color: rgb(255 255 255);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.button:focus {
  outline: none;
}

.button_text {
  color: rgb(255 255 255);
}

@media screen and (min-width: 360px) and (max-width: 440px) {
  .button {
    min-width: 175px;
  }
}
